<div fxLayout="column" fxLayoutAlign="center center" style="height: 100vh;direction: ltr;">
    <div fxLayout="column" fxLayoutAlign="start center" class="container">
        <div>
            <img [src]="" />
        </div>
        
        <div fxLayout="row" fxLayoutAlign="start center" style="color: red;">
            {{errorObject.Message}}
        </div>
        <br/>
        <form [formGroup]="form" (ngSubmit)="login()">
            <div>
                <input type="text"  matInput placeholder="User" formControlName="username" autocomplete="off" autofocus >
            </div>

            <div>
                <input type="password" matInput placeholder="Password" formControlName="password">
            </div>

            <br/>
            <div>
                <button class="button" type="submit" mat-button>Login</button>
            </div>

        </form>


    </div>
</div>