

<div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-between center"
    style="padding: 10px;background-color: aliceblue;">
    <div fxLayout="row" fxLayoutAlign="start center">

        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button (click)="snav.toggle();" style="background-color: transparent;border: none;outline: none;">
                <mat-icon style="color: gray;font-size: 29px;">menu</mat-icon>
                <div style="font-size: 12px;color: gray;margin-bottom: 10px;"></div>
            </button>

        </div>

    </div>

    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">

        <div fxLayout="column" fxLayoutAlign="end start">
            <img [src]="'assets/logo/logo.png'" />
        </div>

    </div>

</div>

<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" #sidenav
        class="example-sidenav" >
        <mat-nav-list>
            <a mat-list-item (click)="sidenav.toggle();productListClick('productList')" >
                <div>Product List Invertory</div>
            </a>

            <a mat-list-item (click)="sidenav.toggle();transactionClick('transaction')" >
                <div>Orders</div>
            </a>
            <a mat-list-item (click)="sidenav.toggle();rejectClick('rejects')">
                <div>Rejects</div>
            </a>
            <a mat-list-item (click)="sidenav.toggle();commentsClick('comments')">
                <div>Comments</div>
            </a>
            <a mat-list-item (click)="sidenav.toggle();acountingClick('acounting')">
                <div>Acounting</div>
            </a>
            <a mat-list-item  href="" (click)="logout();sidenav.toggle()">
                  <div>Logout</div>
            </a>  
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content style="overflow: hidden;">
        <div *ngIf="animationProductState === 'in'">
            <div [@slideInOut]="animationProductState" style="padding: 20px;background-color: gainsboro;">
                <app-product></app-product>
            </div>
        </div>
        
        <div *ngIf="animationTransactionState === 'in'">
            <div [@slideInOut]="animationTransactionState" style="padding: 20px;background-color: gainsboro;">
                <app-order></app-order>
            </div>
        </div>
        
        <div *ngIf="animationRejectsState === 'in'">
            <div [@slideInOut]="animationRejectsState" style="padding: 20px;background-color: gainsboro;">
                <app-reject></app-reject>
            </div>
        </div>

        <div *ngIf="animationCommentsState === 'in'">
            <div [@slideInOut]="animationCommentsState" style="padding: 20px;background-color: gainsboro;">
                <app-comments></app-comments>
            </div>
        </div>

        <div *ngIf="animationAcountingState === 'in'">
            <div [@slideInOut]="animationAcountingState" style="padding: 20px;background-color: gainsboro;">
                <app-acounting></app-acounting>
            </div>
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>