<div #containerDic tabindex="0"
    style="padding: 12px;top:0;left: 0; position: fixed; background-color: whitesmoke;min-width: 400px; border: whitesmoke thin solid;overflow-x: auto;max-height: 600px;">
    <div tabindex="0" *ngFor="let dic of value" style="display: flex;flex-wrap: nowrap;align-items: center;padding: 10px;border-bottom: dimgrey solid thin;">
            <input tabindex="0" matInput disabled="true" style="margin: 10px;border: none;" [(ngModel)]="dic.key">
            <textarea tabindex="0" style="width: 100%;" [(ngModel)]="dic.value"></textarea>
    </div>
</div>