<div style="background-color: greenyellow;padding: 5px;display: flex;">
    
    <button id="edit" style="width: 110px;height: 80px;margin: 5px;" (click)="EditSelectedRow()">Edit Selected Row</button>
    
</div>
<div  *ngIf="showEdit" style="z-index: 2;position: absolute;left: 0;top: 0;
background-color: gray;opacity: 0.8;width: 100%;height: 100vh;" ></div>
<div  id="editForm" *ngIf="showEdit" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start strech" style="background-color: white;border: thin gray solid;padding: 10px;position: absolute;
 top: 50%;
 left: 50%;
 width: 80vw;
 transform: translate(-50%, -50%);z-index: 4;overflow: auto;">
<mat-icon style="color: gray;cursor: pointer;" (click)="EditSelectedRow()">close</mat-icon>
    <form [formGroup]="orderForm" style="max-height: 70vh;">
        <div style="background-color: greenyellow;padding: 5px;display: flex;width: 100%;margin-bottom: 20px;">
            <button style="width: 110px;height: 80px;margin: 5px;" (click)="Save()">Save</button>
            <button style="width: 110px;height: 80px;margin: 5px;" [useExistingCss]="true" printSectionId="print-section" ngxPrint>Print</button>
        </div>
        <div fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="start start" id="print-section">
            <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center center">
                <div>
                    <mat-checkbox formControlName="pickUp" [(ngModel)]="selectedRow.pickUp">جمع آوری شده</mat-checkbox>
                </div>

                <div>
                    <mat-checkbox formControlName="deliverdStatus" [(ngModel)]="selectedRow.deliverdStatus">فرستاده شده</mat-checkbox>
                </div>
                <div>
                    <mat-checkbox readonly="readonly" formControlName="paymentStatus">وضعیت پرداخت</mat-checkbox>
                </div>
                <div>
                    <mat-checkbox readonly="readonly" formControlName="payOnline">پرداخت آنلاین</mat-checkbox>
                </div>
                <div style="display: none;">
                    <qrcode id="parent" #qrElement  [qrdata]="qrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                </div>
                <div>
                    <img [src]='qrPng' />
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center center">

                <div>
                    <mat-form-field>
                        <input readonly="readonly" matInput placeholder="مشخصات خریدار" formControlName="purchasedUserDetails">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <input readonly="readonly" matInput placeholder="مبلغ نهایی" formControlName="totalPrice">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <input readonly="readonly" matInput placeholder="تاریخ ارسال" formControlName="deliverDate">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center center">
                <div>
                    <mat-form-field>
                        <input readonly="readonly" matInput placeholder="تاریخ پرداخت" formControlName="paymentDate">
                    </mat-form-field>
                </div>


                <div>
                    <mat-form-field>
                        <input readonly="readonly" matInput placeholder="تحویل به" formControlName="deliverTo">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <input readonly="readonly" matInput placeholder="تلفن تحویل گیرنده" formControlName="deliverToPhone">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center" style="width: 100%;">
                <div>
                    <mat-form-field style="width: 50vw;">
                        <textarea readonly="readonly" matInput placeholder="آدرس" formControlName="address"></textarea>
                    </mat-form-field>
                </div>
            </div>
            
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center"
                style="width: 100%;background-color: lightslategrey;padding: 10px;">
                <table mat-table [dataSource]="selectedRow.purchasedItem" style="width: 100%;direction: rtl;">

                    <ng-container matColumnDef="count">
                        <th mat-header-cell *matHeaderCellDef> تعداد کالا </th>
                        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> اسم کالا </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="direction: rtl;"></tr>
                </table>
            </div>

        </div>
    </form>
</div>

<div>
    <ag-grid-angular #agGrid style="width:100%; height: 72vh;" class="ag-theme-alpine" [gridOptions]="gridOptions"
        [rowData]="orders" (selectionChanged)="onSelectionChanged($event)" [rowSelection]="rowSelection"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>