@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

.ag-theme-alpine {
    @include ag-theme-alpine();
    font-family: 'yekan';
}
$custom-typography: mat-typography-config($font-family: '"yekan", sans-serif;');
@include mat-core($custom-typography);

html, body{
    margin: 0;
    direction: rtl;
}
html, body { height: 100%; }
body { margin: 0; font-family: yekan, "Helvetica Neue", sans-serif; }
input, select, textarea, button{font-family:inherit;}
@font-face {

    font-family: "yekan";
    
    src: url(assets/font/Yekan.eot);
    
    src: url(assets/font/Yekan.eot?#iefix) format("embedded-opentype"), url(assets/font/Yekan.woff) format("woff"), url(assets/font/Yekan.ttf) format("truetype"), url(assets/font/Yekan.svg#BYekan) format("svg");
    
    font-weight: normal;
    
    font-style: normal
}
// selection checkbox gets 4px padding to the RIGHT when LTR
.ag-ltr .ag-selection-checkbox {
    padding-right: 4px;
}

// selection checkbox gets 4px padding to the LEFT when RTL
.ag-rtl .ag-selection-checkbox {
    padding-left: 4px;
}